result/*
!result/.gitkeep

data/*
!data/.gitkeep

wav/*
!wav/.gitkeep

_history/*
_trace*/*
_old/*

/temp/*

.mypy_cache/*
.type-check-result/*

.Python31?-*

/.cheat-sheet.txt
/.githooks.toml
/.windsurfrules
/.timestamps.json

### General
.env
*.7z
*.zip
*.rar
*.tar.gz

### Python

.venv*/*
*.pyc
__pycache__/*
*.pkl
dist/*
build/*
*/zz_utils.egg-info/*

### Windows

folderico-*.ico
[Dd]esktop.ini
Thumbs.db

### OS-X

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
